{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Yangi kalit so'z{% endblock title %}
{% block content %}
    <section class="custom-form pt-5">
    <div class="container py-5 px-lg-5">
        <h2 class="mb-4">Yangi kalit so'z</h2>
        <p class="mb-3">Yangi kalit so'zni ikki marotaba kiriting.</p>
        <form method="post" class='mx-lg-5 px-lg-5'>{% csrf_token %}
            {{ form|crispy }}
            <div class="submit-part">
              <button class="hover-btn hover-btn-1 hover-filled-slide-left">
                <a href="./password_change_done.html"><span>O'zgartirish</span></a>
              </button>
            </div>
        </form>
    </div>
    </section>
{% endblock content %}