{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Kalit so'zni tiklash{% endblock title %}
{% block content %}
    <section class="custom-form pt-5">
    <div class="container py-5 px-lg-5">
        <h2>Kalit so'zni tiklash</h2>
        <p>Kalit so'zingizni tiklash uchun emailingizni kiriting.</p>
        <form method="post" class='mx-lg-5 px-lg-5'>{% csrf_token %}
            {{ form|crispy }}
            <div class="submit-part">
              <button class="hover-btn hover-btn-1 hover-filled-slide-left">
                <span>Yuborish</span>
              </button>
            </div>
        </form>
    </div>
    </section>
{% endblock content %}
