{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Kalit so'z o'zgardi{% endblock title %}
{% block content %}
    <!-- Password change -->
    <section class="password-change pt-5">
        <div class="container py-5 px-lg-5">
            <h2 class="mb-4">Kalit so'zingiz o'zgardi.</h2>
            <p class="mb-3">Kalit so'zingizni muvaffaqiyatli o'zgartirdik. Endi sahifamizga shu yangi kalit so'z orqali kirishingiz mumkin</p>
            <div>
              <button class="hover-btn hover-btn-1 hover-filled-slide-left">
                <a href="{% url 'login' %}"><span>Kirish</span></a>
              </button>
            </div>
        </div>
        </section>
        <!-- /Password change -->
{% endblock content %}
